<beans xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns="http://www.springframework.org/schema/beans" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
      http://www.springframework.org/schema/task
      http://www.springframework.org/schema/task/spring-task-3.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.GsonHttpMessageConverter"/>
            <!--            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter"/>-->
            <!--            <bean id="stringHttpMessageConverter"-->
            <!--                  class="org.springframework.http.converter.StringHttpMessageConverter">-->
            <!--                <constructor-arg value="UTF-8" index="0"></constructor-arg>&lt;!&ndash;-->
            <!--            避免出现乱码 &ndash;&gt;-->
            <!--                <property name="supportedMediaTypes">-->
            <!--                    <list>-->
            <!--                        <value>text/plain;charset=UTF-8</value>-->
            <!--                    </list>-->
            <!--                </property>-->
            <!--            </bean>-->
            <!--            <bean id="fastJsonHttpMessageConverter"-->
            <!--                  class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">-->

            <!--                <property name="supportedMediaTypes">-->
            <!--                    <list>-->
            <!--                        <value>application/json;charset=UTF-8</value>-->
            <!--                        <value>text/html;charset=UTF-8</value>&lt;!&ndash; 避免IE出现下载JSON文件的情况 &ndash;&gt;-->
            <!--                    </list>-->
            <!--                </property>-->
            <!--            </bean>-->

        </mvc:message-converters>
    </mvc:annotation-driven>
    <mvc:resources location="/html/" mapping="/html/**" cache-period="2592000"/>
    <mvc:resources location="/error/" mapping="/error/**" cache-period="2592000"/>
    <mvc:resources location="/ticket/" mapping="/ticket/**" cache-period="2592000"/>
    <mvc:resources location="/WEB-INF/cgi-bin/" mapping="/cgi-bin/**" cache-period="2592000"/>
    <mvc:resources location="/" mapping="/**" cache-period="2592000"/>
    <!--    &lt;!&ndash;<mvc:resources location="/admin/" mapping="/admin/**" cache-period="2592000"/>&ndash;&gt;-->
    <!--    &lt;!&ndash;<mvc:resources location="/manager/" mapping="/manager/**" cache-period="2592000"/>&ndash;&gt;-->

    <context:component-scan base-package="com.waps.**"/>

    <!--<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
    <!--<property name="locations">-->
    <!--<array>-->
    <!--</array>-->
    <!--</property>-->
    <!--<property name="fileEncoding" value="utf-8"/>-->
    <!--</bean>-->

    <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"/>
    <task:executor id="executor" pool-size="5"/>
    <task:scheduler id="scheduler" pool-size="10"/>
    <task:annotation-driven executor="executor" scheduler="scheduler"/>

    <!--    每分钟-->
    <!--    <task:scheduler id="jdOrderLogService_getOrderLogByDay_1min"/>-->
    <!--    <task:scheduled-tasks scheduler="jdOrderLogService_getOrderLogByDay_1min">-->
    <!--        <task:scheduled ref="syncJdOrderJob" method="doSomething" cron="0 */1 * * * ?"/>-->
    <!--    </task:scheduled-tasks>-->

<!--    <task:scheduler id="jdSkuInfoService_syncSkuInfo"/>-->
<!--    <task:scheduled-tasks scheduler="jdSkuInfoService_syncSkuInfo">-->
<!--        <task:scheduled ref="syncJdSkuLibJob" method="doSomething" cron="0 */15 * * * ?"/>-->
<!--    </task:scheduled-tasks>-->

    <!--    每天上午01:15触发-->
<!--    <task:scheduler id="jdCategoryService_startSyncAllCategory_1min"/>-->
<!--    <task:scheduled-tasks scheduler="jdCategoryService_startSyncAllCategory_1min">-->
<!--        <task:scheduled ref="syncJdCategoryJob" method="doSomething" cron="0 15 1 * * ?"/>-->
<!--    </task:scheduled-tasks>-->


    <!--    每小时触发-->
<!--    <task:scheduler id="hemaService.startSyncHemaUserTree_1hour"/>-->
<!--    <task:scheduled-tasks scheduler="hemaService.startSyncHemaUserTree_1hour">-->
<!--        <task:scheduled ref="syncHMUserTreeJob" method="doSomething" cron="0 0 */1 * * ?"/>-->
<!--    </task:scheduled-tasks>-->

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix">
            <value>/WEB-INF/pages/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>
</beans>